# Python
__pycache__/
*.pyc
*.pyo
venv/
env/
.venv/

# AI folders (Requested)
.gemini/
.claude/

# IDE
.vscode/

# Environment variables (Requested)
.env

# App Specific Data
saved_links/
playwright-cache/
